@charset "utf-8";
@import "reset.css";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*base*/
html,body{
	width:1200px;
	font-family: 'Nanum Gothic', sans-serif;
}
.inner{
	min-width:1200px;
	max-width:1200px;
	margin:0 auto; 
}

a{
	text-decoration:none;
}

header{
	height:200px;
}
header .top{
	height:100px;
	background:#400040;
}


/*loginMain*/
.login{
	width:1200px;
	height:250px;
	background:#003;
	margin:40px auto;
}
.login .login_box{
	margin:50px 20px 0 26%;
	float:left;
}
.login_box{
	display:block;
}
.login_box input[type="text"]{
	background:#fff;
	width:420px;
	height:30px;
	margin-bottom:10px;
	padding-left:5px;
}
.login_box input[type="password"]{
	background:#fff;
	width:420px;
	height:30px;
	margin-bottom:10px;
	padding-left:5px;
}
.login .login_btn{
	float:left;	
	width:100px;
	height:82px;
	margin-top:50px;
	background:#FC3;
	box-shadow:6px 6px 8px rgba(255,255,255,0.4) inset, -6px -6px 8px rgba(255,255,255,0.4) inset;
}
.login_btn input[type="submit"]{
	margin-top:30px;
	font-weight:bold;
	text-align:center;
	background:#FC3;
	border:#FC3;
	margin-left:17px;
	font-size:18px;
}
.login .id_check{
	margin-left:26%;
	padding-top:160px;
}
.login .join_btn{
	margin-left:58%;
	margin-top:-17px;
}
.join_btn ul{
	
}
.join_btn li{
	display:inline-block;
}
.join_btn li a{
	font-size:16px;
	color:#fff;
}







