<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SurveyDao">

<!-- 입력 -->
<insert id="insertRes" parameterType="kr.sh86.myApp.survey.domain.Response">
	<selectKey keyProperty="resNo" resultType="int" order="BEFORE">
		select glocal_res_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO GLOCAL.RESPONSE(
		RES_NO,
		REGDATE,
		USER_NO,
		SEX,
		GRADE)
	VALUES(
		#{resNo},
		to_char(sysdate,'yyyy-mm-dd'),
		#{userNo},
		#{sex},
		#{grade})
</insert>

<!-- 응답자 조회 -->
<select id="selectUser" parameterType="int" resultType="kr.sh86.myApp.survey.domain.Users">
	SELECT
		*
	FROM
		GLOCAL.USERS
	WHERE
		USER_NO = #{userNo}
</select>

<!-- 응답여부 확인 -->
<select id="selectCountRes" parameterType="int" resultType="int">
	SELECT
		COUNT(*)
	FROM
		GLOCAL.RESPONSE
	WHERE
		USER_NO = #{userNo}
</select>

<!-- 응답내용 조회 -->
<select id="selectResNo" parameterType="int" resultType="int">
	SELECT
		RES_NO
	FROM
		GLOCAL.RESPONSE
	WHERE
		USER_NO = #{userNo}
</select>

<!-- 응답내용 수정 -->
<update id="updateRes" parameterType="kr.sh86.myApp.survey.domain.Response">
	UPDATE GLOCAL.RESPONSE
	SET
		UPDATE_DATE = to_char(sysdate,'yyyy-mm-dd')
		<if test="q1c != null and q1c !=''">,Q1C=#{q1c}</if>
		<if test="q1k != null and q1k !=''">,Q1K=#{q1k}</if>
		<if test="q1m != null and q1m !=''">,Q1M=#{q1m}</if>
		<if test="q1Etc != null and q1Etc !=''">,Q1ETC=#{q1Etc}</if>
		<if test="q2c != null and q2c !=''">,Q2C=#{q2c}</if>
		<if test="q2k != null and q2k !=''">,Q2K=#{q2k}</if>
		<if test="q2m != null and q2m !=''">,Q2M=#{q2m}</if>
		<if test="q3c != null and q3c !=''">,Q3C=#{q3c}</if>
		<if test="q3k != null and q3k !=''">,Q3K=#{q3k}</if>
		<if test="q3m != null and q3m !=''">,Q3M=#{q3m}</if>
		<if test="q4c != null and q4c !=''">,Q4C=#{q4c}</if>
		<if test="q4k != null and q4k !=''">,Q4K=#{q4k}</if>
		<if test="q4m != null and q4m !=''">,Q4M=#{q4m}</if>
		<if test="q5c != null and q5c !=''">,Q5C=#{q5c}</if>
		<if test="q5k != null and q5k !=''">,Q5K=#{q5k}</if>
		<if test="q5m != null and q5m !=''">,Q5M=#{q5m}</if>
		<if test="q6c != null and q6c !=''">,Q6C=#{q6c}</if>
		<if test="q6k != null and q6k !=''">,Q6K=#{q6k}</if>
		<if test="q6m != null and q6m !=''">,Q6M=#{q6m}</if>
		<if test="q6Etc != null and q6Etc !=''">,Q6ETC=#{q6Etc}</if>
		<if test="q7c != null and q7c !=''">,Q7C=#{q7c}</if>
		<if test="q7k != null and q7k !=''">,Q7K=#{q7k}</if>
		<if test="q7m != null and q7m !=''">,Q7M=#{q7m}</if>
		<if test="q8c != null and q8c !=''">,Q8C=#{q8c}</if>
		<if test="q8k != null and q8k !=''">,Q8K=#{q8k}</if>
		<if test="q8m != null and q8m !=''">,Q8M=#{q8m}</if>
		<if test="q9c != null and q9c !=''">,Q9C=#{q9c}</if>
		<if test="q9k != null and q9k !=''">,Q9K=#{q9k}</if>
		<if test="q9m != null and q9m !=''">,Q9M=#{q9m}</if>
		<if test="q10c != null and q10c !=''">,Q10C=#{q10c}</if>
		<if test="q10k != null and q10k !=''">,Q10K=#{q10k}</if>
		<if test="q10m != null and q10m !=''">,Q10M=#{q10m}</if>
		<if test="q11c != null and q11c !=''">,Q11C=#{q11c}</if>
		<if test="q11k != null and q11k !=''">,Q11K=#{q11k}</if>
		<if test="q11m != null and q11m !=''">,Q11M=#{q11m}</if>
		<if test="q11Etc != null and q11Etc !=''">,Q11ETC=#{q11Etc}</if>
		<if test="q12c != null and q12c !=''">,Q12C=#{q12c}</if>
		<if test="q12k != null and q12k !=''">,Q12K=#{q12k}</if>
		<if test="q12m != null and q12m !=''">,Q12M=#{q12m}</if>
		<if test="q13c != null and q13c !=''">,Q13C=#{q13c}</if>
		<if test="q13k != null and q13k !=''">,Q13K=#{q13k}</if>
		<if test="q13m != null and q13m !=''">,Q13M=#{q13m}</if>
		<if test="q14c != null and q14c !=''">,Q14C=#{q14c}</if>
		<if test="q14k != null and q14k !=''">,Q14K=#{q14k}</if>
		<if test="q14m != null and q14m !=''">,Q14M=#{q14m}</if>
		<if test="q14Etc != null and q14Etc !=''">,Q14ETC=#{q14Etc}</if>
		<if test="q15k != null and q15k !=''">,Q15K=#{q15k}</if>
		<if test="q15m != null and q15m !=''">,Q15M=#{q15m}</if>
		<if test="q16k != null and q16k !=''">,Q16K=#{q16k}</if>
		<if test="q16m != null and q16m !=''">,Q16M=#{q16m}</if>
		<if test="q16Etc != null and q16Etc !=''">,Q16ETC=#{q16Etc}</if>
		<if test="q17k != null and q17k !=''">,Q17K=#{q17k}</if>
		<if test="q17m != null and q17m !=''">,Q17M=#{q17m}</if>
		<if test="q18k != null and q18k !=''">,Q18K=#{q18k}</if>
		<if test="q18m != null and q18m !=''">,Q18M=#{q18m}</if>
		<if test="q18Etc != null and q18Etc !=''">,Q18ETC=#{q18Etc}</if>
		<if test="q19k != null and q19k !=''">,Q19K=#{q19k}</if>
		<if test="q19m != null and q19m !=''">,Q19M=#{q19m}</if>
		<if test="q20k != null and q20k !=''">,Q20K=#{q20k}</if>
		<if test="q20m != null and q20m !=''">,Q20M=#{q20m}</if>
		<if test="q20Etc != null and q20Etc !=''">,Q20ETC=#{q20Etc}</if>
		<if test="q21k != null and q21k !=''">,Q21K=#{q21k}</if>
		<if test="q21m != null and q21m !=''">,Q21M=#{q21m}</if>
		<if test="q21Etc != null and q21Etc !=''">,Q21ETC=#{q21Etc}</if>
		<if test="q22k != null and q22k !=''">,Q22K=#{q22k}</if>
		<if test="q22m != null and q22m !=''">,Q22M=#{q22m}</if>
		<if test="q23k != null and q23k !=''">,Q23K=#{q23k}</if>
		<if test="q23m != null and q23m !=''">,Q23M=#{q23m}</if>
		<if test="q23Etc != null and q23Etc !=''">,Q23ETC=#{q23Etc}</if>
		<if test="q24k != null and q24k !=''">,Q24K=#{q24k}</if>
		<if test="q24m != null and q24m !=''">,Q24M=#{q24m}</if>
		<if test="q25k != null and q25k !=''">,Q25K=#{q25k}</if>
		<if test="q25m != null and q25m !=''">,Q25M=#{q25m}</if>
		<if test="q26k != null and q26k !=''">,Q26K=#{q26k}</if>
		<if test="q26m != null and q26m !=''">,Q26M=#{q26m}</if>
		<if test="q26Etc != null and q26Etc !=''">,Q26ETC=#{q26Etc}</if>
		<if test="q27k != null and q27k !=''">,Q27K=#{q27k}</if>
		<if test="q27m != null and q27m !=''">,Q27M=#{q27m}</if>
		<if test="q28k != null and q28k !=''">,Q28K=#{q28k}</if>
		<if test="q28m != null and q28m !=''">,Q28M=#{q28m}</if>
		<if test="q29k != null and q29k !=''">,Q29K=#{q29k}</if>
		<if test="q29m != null and q29m !=''">,Q29M=#{q29m}</if>
		<if test="q30k != null and q30k !=''">,Q30K=#{q30k}</if>
		<if test="q30m != null and q30m !=''">,Q30M=#{q30m}</if>
		<if test="q30Etc != null and q30Etc !=''">,Q30ETC=#{q30Etc}</if>
		<if test="q31Etc != null and q31Etc !=''">,Q31ETC=#{q31Etc}</if>
	WHERE
		RES_NO = #{resNo}
</update>

<!--응답자 마지막 응답번호 수정  -->
<update id="updateUserLastComplete" parameterType="kr.sh86.myApp.survey.domain.Users">
	UPDATE GLOCAL.USERS
	SET
		RES_COMPLETE = #{resComplete}
	WHERE
		USER_NO= #{userNo}
</update>

<!-- 문자> 전체 응답자 조회 -->
<select id="selectUserAll" resultType="kr.sh86.myApp.survey.domain.Users">
	SELECT
		*
	FROM
		GLOCAL.USERS
</select>

<!-- 문자발송 -->
<insert id="sendMmsToSelected" parameterType="kr.sh86.myApp.survey.domain.Mms">
	INSERT INTO XROSHOT.SDK_MMS_SEND(
		msg_id, 
		user_id, 
		schedule_type, 
		subject, 
		now_date, 
		send_date, 
		callback, 
		dest_count, 
		dest_info, 
		mms_msg)
	VALUES(
		XROSHOT.SDK_MMS_SEQ.NEXTVAL,
		'mystat03',
		#{scheduleType},
		#{subject},
		TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
		TO_CHAR(SYSDATE, 'YYYYMMDDHH24MISS'),
		#{callback},
		#{destCount},
		#{destInfo},
		#{mmsMsg})
</insert>

<!--총카운트 -->
<select id="selectUserCount" resultType="int">
	SELECT COUNT(*)
	FROM GLOCAL.USERS
</select>

<!-- 응답자 총 카운트 -->
<select id="selectResCount" resultType="int">
	SELECT COUNT(*)
	FROM GLOCAL.RESPONSE	
</select>

<!-- 모든답변응답자  -->
<select id="selectResAllCount" resultType="int">
	SELECT COUNT(*)
	FROM GLOCAL.USERS
	WHERE RES_COMPLETE = 31
</select>

<!-- 문자전송실패자 -->
<select id="selectMmsFailCount" parameterType="String" resultType="int">
	SELECT COUNT(*) 
	FROM glocal.users 
	WHERE USER_NAME IN (SELECT dest_name 
						FROM xroshot.sdk_mms_report_detail 
						WHERE send_date like #{lastTime}||'%' 
						AND result != 2)
</select>

<!-- 미응답자 조회 -->
<select id="selectNoResList" resultType="kr.sh86.myApp.survey.domain.Users">
	SELECT *
	FROM GLOCAL.USERS
	WHERE USER_NO NOT IN (SELECT USER_NO
						  FROM GLOCAL.RESPONSE)
</select>

<!--문자전송 실패자 조회 -->
<select id="selectMmsFailList" parameterType="String" resultType="kr.sh86.myApp.survey.domain.Users">
	SELECT * 
	FROM glocal.users 
	WHERE USER_NAME IN (SELECT dest_name 
						FROM xroshot.sdk_mms_report_detail 
						WHERE send_date like #{lastTime}||'%' 
						AND result != 2)
</select>

<!--문자발송 내역 인서트  -->
<insert id="insertMmsReport">
	INSERT INTO GLOCAL.MMSREPORT(NO, SENDDATE)
	VALUES(glocal_mms_seq.nextval, to_char(sysdate, 'yyyy-mm-dd hh:mm'))
	
</insert>

<!-- 발송내역 조회 -->
<select id="selectSendReport" resultType="String">
	SELECT SENDDATE
	FROM GLOCAL.MMSREPORT
	ORDER BY NO 
</select>

<!-- 마지막 문자발송시간 조회 -->
<select id="selectLastMmsTime" resultType="String">
	SELECT SENDDATE
	FROM GLOCAL.MMSREPORT
	ORDER BY NO DESC
</select>

<!-- 문자재발송자 조회 -->
<select id="selectReSendList" resultType="kr.sh86.myApp.survey.domain.Users">
	SELECT *
	FROM glocal.users 
	WHERE res_complete &lt; 31 
	OR res_complete IS NULL
</select>

<!-- 베스트폴 ARS 대상 중복제거 -->
<select id="selectBestpoll" resultType="kr.sh86.myApp.survey.domain.Ars">
	SELECT num, ars_num, name, tel
	FROM BESTPOLL_ARS.ARS_RESULT_KIS_BACK
	WHERE ARS_NUM = 197
</select>

<delete id="deleteBestpoll" parameterType="kr.sh86.myApp.survey.domain.Ars">
	DELETE
	FROM BESTPOLL_ARS.ARS_RESULT_KIS
	WHERE ARS_NUM = 198
	AND NAME = #{name}
	AND TEL = #{tel}
</delete>

<!-- ars 강제추출 -->
<select id="selectSample" resultType="kr.sh86.myApp.survey.domain.Sample">
	SELECT t_name, t_telno 
	FROM kis_stat.home_35
	WHERE t_sigungu='익산시' 
	AND t_is != 1
	AND t_dong IS NULL
</select>

<!--샘플링데이터 입력  -->
<insert id="insertSample" parameterType="kr.sh86.myApp.survey.domain.Sampling">
	INSERT INTO bestpoll_ars.ars_sampling_kis(
		num, 
		ars_num, 
		sido, 
		sigungu, 
		sample, 
		data_in_date)
	VALUES(
		bestpoll_ars.ars_sampling_kis_seq.nextval, 
		#{arsNum}, 
		#{sido}, 
		#{sigungu}, 
		#{sample}, 
		to_char(sysdate,'YYYY-MM-DD'))
</insert>

<insert id="insertArsResultTb" parameterType="kr.sh86.myApp.survey.domain.Sampling">
	INSERT INTO bestpoll_ars.ars_result_kis(
		num, 
		ars_num, 
		<if test="name != null and name != ''">name,</if>
		tel, 
		sido, 
		sigungu,
		dong, 
		data_in_date)
	VALUES(
		bestpoll_ars.ars_result_kis_seq.nextval, 
		#{arsNum}, 
		<if test="name != null and name != ''">#{name},</if>
		#{tel}, 
		#{sido}, 
		#{sigungu},
		#{dong}, 
		to_char(sysdate,'YYYY-MM-DD'))
</insert>

<!-- 임실샘플링 입력 -->
<insert id="insertSamplingImsil" parameterType="kr.sh86.myApp.survey.domain.Sampling">
	INSERT INTO BESTPOLL_ARS.ARS_SAMPLING_KIS(
		NUM, ARS_NUM, SIDO, SIGUNGU, 
		<if test="dong != null and dong !=''">dong,</if> 
		SAMPLE, DATA_IN_DATE)
	VALUES(
		BESTPOLL_ARS.ARS_SAMPLING_KIS_SEQ.NEXTVAL,
		#{arsNum},
		#{sido},
		#{sigungu},
		<if test="dong != null and dong !=''">#{dong},</if>
		#{sample},
		to_char(sysdate,'YYYY-MM-DD')
		)	
</insert>

<!-- 현재 통화가지 않은 가정집 전체 조회 -->
<select id="selectAllHome" parameterType="String" resultType="kr.sh86.myApp.survey.domain.Sample">
	SELECT t_telno, t_name, t_sido, t_sigungu, t_dong 
	FROM kis_stat.home_35 a
	WHERE t_sido='전북' 
	AND t_sigungu = '임실군' 
	AND t_dong = #{dong} 
	<!-- AND NOT EXISTS (select * 
					from bestpoll_ars.ars_result_kis b
					where ars_num &gt;= 197 
					and ars_num &lt;=204
					and a.t_telno = b.tel) -->
</select>

<!-- 성별확인 조회 -->
<select id="selectManCount" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT REPLIED_FILE, MSG_ID
	FROM XROSHOT.SDK_VMS_REPORT_DETAIL
	WHERE LENGTH(REPLIED_FILE) &gt;= 72
	AND SEND_DATE &gt;= '20180118120000'
</select>

<!-- 연령확인 조회 -->
<select id="selectAgeCount" parameterType="int" resultType="int">
	SELECT COUNT(*)
	FROM XROSHOT.SDK_VMS_REPORT_DETAIL
	WHERE LENGTH(REPLIED_FILE) &gt;= #{length}
	AND SEND_DATE &gt;= '20180118120000'
</select>

<!-- 연령별 응답확인을 위한 조회 -->
<select id="selectResForAgeCheck" resultType="String">
	SELECT REPLIED_FILE
	FROM XROSHOT.SDK_VMS_REPORT_DETAIL
	WHERE LENGTH(REPLIED_FILE) &gt;= 16
	AND SEND_DATE &gt;= '20180118120000'
</select>

<select id="selectResStat" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT 
		msg_id,
		replied_file,
		job_id,
		nvl(substr(replied_file, 10,1),'') as ans1, 
		nvl(substr(replied_file, 16,1),'') as ans2,
		nvl(substr(replied_file, 22,1),'') as ans3,
		nvl(substr(replied_file, 28,1),'') as ans4,
		nvl(substr(replied_file, 34,1),'') as ans5,
		nvl(substr(replied_file, 40,1),'') as ans6,
		nvl(substr(replied_file, 46,1),'') as ans7,
		nvl(substr(replied_file, 52,1),'') as ans8,
		nvl(substr(replied_file, 58,1),'') as ans9,
		nvl(substr(replied_file, 65,1),'') as ans10,
		nvl(substr(replied_file, 72,1),'') as ans11
	FROM XROSHOT.SDK_VMS_REPORT_DETAIL
	WHERE SEND_DATE &gt;= '20180118120000'
	AND LENGTH(replied_file) >= 72
</select>

<select id="selectResStat2" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT 
		msg_id,
		replied_file,
		job_id,
		phone_number,
		result, 
		tcs_result,
		send_date, 
		stime, 
		rtime, 
		duration,
		nvl(substr(replied_file, 10,1),'') as ans1, 
		nvl(substr(replied_file, 16,1),'') as ans2,
		nvl(substr(replied_file, 22,1),'') as ans3,
		nvl(substr(replied_file, 28,1),'') as ans4,
		nvl(substr(replied_file, 34,1),'') as ans5,
		nvl(substr(replied_file, 40,1),'') as ans6,
		nvl(substr(replied_file, 46,1),'') as ans7,
		nvl(substr(replied_file, 52,1),'') as ans8,
		nvl(substr(replied_file, 58,1),'') as ans9,
		nvl(substr(replied_file, 65,1),'') as ans10,
		nvl(substr(replied_file, 72,1),'') as ans11
	FROM XROSHOT.SDK_VMS_REPORT_DETAIL
	WHERE SEND_DATE &gt;= '20180118120000'
	<!-- AND LENGTH(replied_file) &gt;= 72 -->
</select>

<!-- 연락처세팅 -->
<select id="selectTels" resultType="String">
	SELECT TEL
	FROM GLOCAL.USERS2
</select>

<!-- 입력 -->
<insert id="insertArsResultTb2" parameterType="kr.sh86.myApp.survey.domain.Sampling">
	INSERT INTO bestpoll_ars.ars_result_kis(
		num, 
		<if test="arsNum != null and arsNum != ''">ars_num,</if> 
		tel, 
		sido, 
		sigungu,
		result,
		tcs_result,
		data_in_date)
	VALUES(
		bestpoll_ars.ars_result_kis_seq.nextval, 
		<if test="arsNum != null and arsNum != ''">#{arsNum},</if>  
		#{tel}, 
		#{sido}, 
		#{sigungu},
		0,
		-2,
		to_char(sysdate,'YYYY-MM-DD'))
</insert>

<!-- 입력 -->
<insert id="insertArsResultTb3" parameterType="kr.sh86.myApp.survey.domain.Sampling">
	INSERT INTO bestpoll_ars.ars_result_kis_${local}(
		num 
		<if test="arsNum != null and arsNum != ''">,ars_num</if> 
		,tel 
		,sido 
		,sigungu
		,result
		,tcs_result
		,data_in_date)
	VALUES(
		#{num}
		<if test="arsNum != null and arsNum != ''">,#{arsNum}</if>  
		,#{tel} 
		,#{sido} 
		,#{sigungu}
		,0
		,-2
		,to_char(sysdate,'YYYY-MM-DD'))
</insert>

<select id="selectResultTb" parameterType="int" resultType="kr.sh86.myApp.survey.domain.Result">
	SELECT num, tel 
	FROM bestpoll_ars.ars_result_kis 
	WHERE result!=2 
	and result!=6 
	and result!=41 
	and ars_num=#{arsNum}
</select>

<select id="selectXroshotResult" parameterType="kr.sh86.myApp.survey.domain.Result" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT DISTINCT b.result, b.tcs_result, b.replied_file, 
		nvl(substr(b.replied_file, 10,1),'')as ans1, 
		nvl(substr(b.replied_file, 16,1),'')as ans2,
		nvl(substr(b.replied_file, 22,1),'')as ans3,
		nvl(substr(b.replied_file, 28,1),'')as ans4,
		nvl(substr(b.replied_file, 34,1),'')as ans5,
		nvl(substr(b.replied_file, 40,1),'')as ans6,
		nvl(substr(b.replied_file, 46,1),'')as ans7,
		nvl(substr(b.replied_file, 52,1),'')as ans8,
		nvl(substr(b.replied_file, 58,1),'')as ans9,
		nvl(substr(b.replied_file, 65,1),'')as ans10,
		nvl(substr(b.replied_file, 72,1),'')as ans11
	FROM xroshot.sdk_vms_report_detail b, xroshot.sdk_vms_report c 
	WHERE c.msg_id = b.msg_id 
	and b.phone_number = #{tel} 
	and c.attach_file= #{attachFile}
	and b.send_date like to_char(sysdate,'rrrr')|| '%')
</select>

<update id="updateArsResult" parameterType="kr.sh86.myApp.survey.domain.Xroshot">
	UPDATE bestpoll_ars.ars_result_kis 
	SET result=#{result},
	tcs_result =#{tcsResult},
	replied_file = #{repliedFile}
	WHERE tel = #{phoneNumber}
</update>

<select id="selectAllResArs" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	select * 
	from XROSHOT.SDK_VMS_REPORT_DETAIL 
	where length(replied_file) >=72 
	and send_date >= '20180118120000'
</select>

<select id="selectArsResultKis" parameterType="String" resultType="int">
	SELECT num
	FROM bestpoll_ars.ars_result_kis 
	WHERE tel = #{tel}
	AND ars_num = 206
</select>

<delete id="deleteRepeat" parameterType="int">
	DELETE
	FROM bestpoll_ars.ars_result_kis 
	WHERE num = #{num}
</delete>

<select id="selectCntTel" parameterType="String" resultType="int">
	SELECT count(*)
	FROM bestpoll_ars.ars_result_kis 
	WHERE tel = #{tel}
	AND ars_num = 206
</select>

<!-- 4번 안받은사람, 받았다가 바로 끈은사람 조회 -->
<select id="selectLast" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	select DISTINCT phone_number
	from xroshot.sdk_vms_report_detail 
	where result=4 and send_date &gt; '20180118120000'
	OR result =2 and send_date &gt; '20180118120000' and LENGTH(replied_file) &lt;= 10	
</select>

<!-- <select id="selectLast" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	select distinct phone_number 
	from XROSHOT.SDK_VMS_REPORT_DETAIL 
	where send_date &gt; '20180118120000'
	and result = 4	
</select> -->


<update id="updateLast" parameterType="int">
	UPDATE bestpoll_ars.ars_result_kis
	SET ars_num = 207
	WHERE num = #{num}
</update>

<insert id="insertResult" parameterType="kr.sh86.myApp.survey.domain.Xroshot">
	INSERT INTO ADMIN.ARSLOTATION(
		NUM 
		<if test="ans1 != null and ans1 != ''">,ANS1</if>
		<if test="ans2 != null and ans2 != ''">,ANS2</if>
		<if test="ans3 != null and ans3 != ''">,ANS3</if>
		<if test="ans4 != null and ans4 != ''">,ANS4</if>
		<if test="ans5 != null and ans5 != ''">,ANS5</if>
		<if test="ans6 != null and ans6 != ''">,ANS6</if>
		<if test="ans7 != null and ans7 != ''">,ANS7</if>
		<if test="ans8 != null and ans8 != ''">,ANS8</if>
		<if test="ans9 != null and ans9 != ''">,ANS9</if>
		<if test="ans10 != null and ans10 != ''">,ANS10</if>
		<if test="ans11 != null and ans11 != ''">,ANS11</if>
		<!-- <if test="jobId != null and jobId != ''">,JOB_ID</if> -->
		<if test="phoneNumber != null and phoneNumber != ''">,TEL</if>
		<if test="result != null and result != ''">,RESULT</if>
		<if test="tcsResult != null and tcsResult != ''">,TCS_RESULT</if>
		<if test="stime != null and stime != ''">,STIME</if>
		<if test="rtime != null and rtime != ''">,RTIME</if>
		<if test="repliedFile != null and repliedFile != ''">,REPLIED_FILE</if>
		<if test="duration != null and duration != ''">,DURATION</if>
		)
	VALUES(
		#{no}
		<if test="ans1 != null and ans1 != ''">,#{ans1}</if>
		<if test="ans2 != null and ans2 != ''">,#{ans2}</if>
		<if test="ans3 != null and ans3 != ''">,#{ans3}</if>
		<if test="ans4 != null and ans4 != ''">,#{ans4}</if>
		<if test="ans5 != null and ans5 != ''">, #{ans5}</if>
		<if test="ans6 != null and ans6 != ''">,#{ans6}</if>
		<if test="ans7 != null and ans7 != ''">,#{ans7}</if>
		<if test="ans8 != null and ans8 != ''">,#{ans8}</if>
		<if test="ans9 != null and ans9 != ''">,#{ans9}</if>
		<if test="ans10 != null and ans10 != ''">,#{ans10}</if>
		<if test="ans11 != null and ans11 != ''">,#{ans11}</if>
		<!-- <if test="jobId != null and jobId != ''">,#{jobId}</if> -->
		<if test="phoneNumber != null and phoneNumber != ''">,#{phoneNumber}</if>
		<if test="result != null and result != ''">,#{result}</if>
		<if test="tcsResult != null and tcsResult != ''">,#{tcsResult}</if>
		<if test="stime != null and stime != ''">,#{stime}</if>
		<if test="rtime != null and rtime != ''">,#{rtime}</if>
		<if test="repliedFile != null and repliedFile != ''">,#{repliedFile}</if>
		<if test="duration != null and duration != ''">,#{duration}</if>
		)
</insert>

<!-- 결번삭제 -->
<delete id="deleteOverlap">
	DELETE
	FROM KIS_STAT.HOME_35 a
	WHERE EXISTS (SELECT * 
				  FROM XROSHOT.SDK_VMS_REPORT_DETAIL b
				  WHERE a.t_telno = b.phone_number
				  AND result = 6
				  AND send_date > '20180118120000')
</delete>

<!--데이터 업로드 -->
<select id="selectDataUser" resultType="kr.sh86.myApp.survey.domain.User">
	SELECT 
		TEL, SIDO, SIGUNGU, DONG, NAME, HP
	FROM GLOCAL.USERS2
</select>

<!-- 홈디비에 데이터 추가 -->
<insert id="insertHome35" parameterType="kr.sh86.myApp.survey.domain.User">
	INSERT INTO KIS_STAT.HOME_35(
		t_is
		<if test="tel != null and tel != ''">,t_telno</if>
		,t_sido
		,t_sigungu
		<if test="dong != null and dong != ''">,t_dong</if>		
		<if test="sangse != null and sangse != ''">,t_addr</if>	
		<if test="name != null and name != ''">,t_name</if>
		<if test="hp != null and hp != ''">,t_hp</if>
		)
	VALUES(
		0
		<if test="tel != null and tel != ''">,#{tel}</if>
		,#{sido}
		,#{sigungu}
		<if test="dong != null and dong != ''">,#{dong}</if>		
		<if test="sangse != null and sangse != ''">,#{sangse}</if>	
		<if test="name != null and name != ''">,#{name}</if>
		<if test="hp != null and hp != ''">,#{hp}</if>
		)
</insert>

<!-- 중복 조회 -->
<select id="selectOverlap207" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM BESTPOLL_ARS.ARS_RESULT_KIS
	WHERE TEL = #{tel}
	AND ARS_NUM = 207
</select>

<!-- 중복 조회 -->
<select id="selectOverlapHome35" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM KIS_STAT.HOME_35
	WHERE T_TELNO = #{tel}
</select>

<!-- 전북대 동창회 데이터 조회 -->
<select id="selectJbuniv" parameterType="String" resultType="kr.sh86.myApp.survey.domain.User">
	SELECT
		NAME,
		HOME_PHONE as tel
	FROM JBUNIV.USERS a
	WHERE home_address like '%'||#{sigungu}||'%' 
	AND home_phone is not null 
	AND home_phone like '063-___-____'
</select>


<!-- 생진원- 응답업체 입력 -->
<insert id="insertBioUser" parameterType="kr.sh86.myApp.survey.domain.BioUser">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
		select biouser_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO GLOCAL.BIOUSER(
		NO, COM_NAME, COM_IMPORT17, COM_WORKERCNT, COM_ADDRESS
		<if test="comCeo != null and comCeo != ''">,COM_CEO</if>
		<if test="comProduct != null and comProduct != ''">,COM_PRODUCT</if>
		<if test="comTel != null and comTel != ''">,COM_TEL</if>
		<if test="comHomepage != null and comHomepage != ''">,COM_HOMEPAGE</if>
		<if test="comFax != null and comFax != ''">,COM_FAX</if>
		<if test="comEmail != null and comEmail != ''">,COM_EMAIL</if>
		)
	VALUES(
		#{no}, #{comName}, #{comImport17}, #{comWorkerCnt}, #{comAddress}
		<if test="comCeo != null and comCeo != ''">,#{comCeo}</if>
		<if test="comProduct != null and comProduct != ''">,#{comProduct}</if>
		<if test="comTel != null and comTel != ''">,#{comTel}</if>
		<if test="comHomepage != null and comHomepage != ''">,#{comHomepage}</if>
		<if test="comFax != null and comFax != ''">,#{comFax}</if>
		<if test="comEmail != null and comEmail != ''">,#{comEmail}</if>
		)
</insert>

<!-- 생진원 - 업체응답내용 입력  -->
<insert id="insertBioRes" parameterType="kr.sh86.myApp.survey.domain.BioResponse">
	<selectKey keyProperty="no" resultType="int" order="BEFORE">
		select biores_seq.nextval FROM DUAL
	</selectKey>
	INSERT INTO GLOCAL.BIORESPONSE(
		NO, Q1, Q1C, Q2, Q2C, Q3, Q3C, Q4, Q4C, USERNO
		<if test="q5 != null and q5 != ''">,Q5</if>
		<if test="q5c != null and q5c != ''">,Q5C</if>
		<if test="q1Fir != null and q1Fir != ''">,Q1FIR</if>
		<if test="q1Sec != null and q1Sec != ''">,Q1SEC</if>
		<if test="q1Thi != null and q1Thi != ''">,Q1THI</if>
		<if test="q2Fir != null and q2Fir != ''">,Q2FIR</if>
		<if test="q2Sec != null and q2Sec != ''">,Q2SEC</if>
		<if test="q2Thi != null and q2Thi != ''">,Q2THI</if>
		<if test="q2Etc != null and q2Etc != ''">,Q2ETC</if>
		<if test="q3Fir != null and q3Fir != ''">,Q3FIR</if>
		<if test="q3Sec != null and q3Sec != ''">,Q3SEC</if>
		<if test="q3Thi != null and q3Thi != ''">,Q3THI</if>
		<if test="q3Etc != null and q3Etc != ''">,Q3ETC</if>
		<if test="q4Fir != null and q4Fir != ''">,Q4FIR</if>
		<if test="q4Sec != null and q4Sec != ''">,Q4SEC</if>
		<if test="q4Thi != null and q4Thi != ''">,Q4THI</if>
		<if test="q4Etc != null and q4Etc != ''">,Q4ETC</if>
		<if test="q5Etc != null and q5Etc != ''">,Q5ETC</if>
		<if test="q6Etc != null and q6Etc != ''">,Q6ETC</if>
		)
	VALUES(
		#{no}, #{q1}, #{q1c}, #{q2}, #{q2c}, #{q3}, #{q3c}, #{q4}, #{q4c}, #{userNo}
		<if test="q5 != null and q5 != ''">,#{q5}</if>
		<if test="q5c != null and q5c != ''">,#{q5c}</if>
		<if test="q1Fir != null and q1Fir != ''">,#{q1Fir}</if>
		<if test="q1Sec != null and q1Sec != ''">,#{q1Sec}</if>
		<if test="q1Thi != null and q1Thi != ''">,#{q1Thi}</if>
		<if test="q2Fir != null and q2Fir != ''">,#{q2Fir}</if>
		<if test="q2Sec != null and q2Sec != ''">,#{q2Sec}</if>
		<if test="q2Thi != null and q2Thi != ''">,#{q2Thi}</if>
		<if test="q2Etc != null and q2Etc != ''">,#{q2Etc}</if>
		<if test="q3Fir != null and q3Fir != ''">,#{q3Fir}</if>
		<if test="q3Sec != null and q3Sec != ''">,#{q3Sec}</if>
		<if test="q3Thi != null and q3Thi != ''">,#{q3Thi}</if>
		<if test="q3Etc != null and q3Etc != ''">,#{q3Etc}</if>
		<if test="q4Fir != null and q4Fir != ''">,#{q4Fir}</if>
		<if test="q4Sec != null and q4Sec != ''">,#{q4Sec}</if>
		<if test="q4Thi != null and q4Thi != ''">,#{q4Thi}</if>
		<if test="q4Etc != null and q4Etc != ''">,#{q4Etc}</if>
		<if test="q5Etc != null and q5Etc != ''">,#{q5Etc}</if>
		<if test="q6Etc != null and q6Etc != ''">,#{q6Etc}</if>
		)
</insert>

<!-- 생진청 응답수 -->
<select id="selectBioResCount" resultType="int">
	SELECT COUNT(*) 
	FROM GLOCAL.BIORESPONSE
</select>

<!-- 예외번호 조회 -->
<select id="selectExceptionNum" resultType="kr.sh86.myApp.survey.domain.ExceptionTel">
	SELECT *
	FROM BESTPOLL_ARS.ARS_EXCEPTION_TEL
</select>

<delete id="deleteExcTel" parameterType="String">
	DELETE
	FROM BESTPOLL_ARS.ARS_RESULT_KIS
	WHERE TEL = #{tel}
</delete>

<select id="selectResJj" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT result, tcs_result, send_date, stime, rtime, duration, phone_number, msg_id, 
				  nvl(substr(replied_file, 9,1),'') as ans1, 
				  nvl(substr(replied_file, 15,1),'') as ans2,
				  nvl(substr(replied_file, 21,1),'') as ans3,
				  nvl(substr(replied_file, 27,1),'') as ans4,
				  nvl(substr(replied_file, 33,1),'') as ans5
	FROM xroshot.sdk_vms_report_detail 
	WHERE send_date > '20180516090000' 
	AND length(replied_file) >= 33
	ORDER BY SEND_DATE DESC
</select>

<!-- <select id="selectResJj" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT result, tcs_result, send_date, stime, rtime, duration, phone_number, msg_id, 
				  nvl(substr(replied_file, 9,1),'') as ans1, 
				  nvl(substr(replied_file, 15,1),'') as ans2,
				  nvl(substr(replied_file, 21,1),'') as ans3,
				  nvl(substr(replied_file, 27,1),'') as ans4,
				  nvl(substr(replied_file, 33,1),'') as ans5
	FROM xroshot.sdk_vms_report_detail 
	WHERE send_date > '20180408155500' 
	AND length(replied_file) >= 33
	AND substr(replied_file, 21, 1) != 3
	ORDER BY SEND_DATE DESC
</select> -->
<select id="selectDateForCompare" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM KIS_STAT.COM35
	WHERE TELL = #{phoneNumber}
	AND sigungu like '전주시%'
</select>

<insert id="insertResJj" parameterType="kr.sh86.myApp.survey.domain.Xroshot">
	INSERT INTO BESTPOLL_ARS.TB_RESULT(
		no, result, result2, senddate, stime, rtime, duration, a1, a2, a3, a4, a5)
	VALUES(
		#{no}, #{result}, #{tcsResult}, #{sendDate}, #{stime}, #{rtime}, #{duration}, #{ans1}, #{ans2}, #{ans3}, #{ans4}, #{ans5})
</insert>

<!-- 지역별 국번 조회 -->
<select id="selectDialing" parameterType="kr.sh86.myApp.survey.domain.Dialing" resultType="kr.sh86.myApp.survey.domain.Dialing">
	SELECT *
	FROM BESTPOLL_ARS.ARS_DIALING
	WHERE LOCAL LIKE '%'||#{local}||'%'
</select>

<!-- 제외번호 조회 -->
<select id="selectExcTel" parameterType="kr.sh86.myApp.survey.domain.ExceptionTel" resultType="kr.sh86.myApp.survey.domain.ExceptionTel">
	SELECT *
	FROM BESTPOLL_ARS.ARS_EXCEPTION_TEL
	WHERE LOCAL LIKE '%'||#{local}||'%'
</select>

<!-- 표본 테이블 삭제 -->
<delete id="deleteArsResult">
	DELETE 
	FROM BESTPOLL_ARS.ARS_RESULT_KIS
</delete>

<!-- **크로샷 응답현황 조회 -->

<!-- 총발송 -->
<select id="selectTotalSend" parameterType="Map" resultType="int">
	select count(*) 
	from XROSHOT.SDK_VMS_REPORT_DETAIL 
	where send_date > #{sendDate}
	<if test="endDate != none">AND send_date &lt; #{endDate}</if>		
</select>

<!-- 접촉/비접촉등 사례 -->
<select id="selectres2" parameterType="Map" resultType="int">
	select count(*) 
	from XROSHOT.SDK_VMS_REPORT_DETAIL 
	where send_date > #{sendDate}
	and result = #{result}
	<if test="endDate != none">AND send_date &lt; #{endDate}</if>
</select>

<!-- 타겟삭제 -->
<delete id="deleteResultKis" parameterType="Map">
	delete 
	from bestpoll_ars.ars_result_kis 
	where tel in (select phone_number 
				  from XROSHOT.SDK_VMS_REPORT_DETAIL 
				  where send_date > #{sendDate}
				  and result = #{result})
</delete>

<!-- 응답현황 -->
<select id="selectResList" parameterType="Map" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT rownum as no, send_date, duration, 
		nvl(substr(replied_file, 9,1),'') as ans1, 
		nvl(substr(replied_file, 15,1),'') as ans2,
		nvl(substr(replied_file, 21,1),'') as ans3,
		nvl(substr(replied_file, 27,1),'') as ans4,
		nvl(substr(replied_file, 33,1),'') as ans5
	FROM xroshot.sdk_vms_report_detail 
	WHERE send_date > #{sendDate}
	<if test="endDate != none">AND send_date &lt; #{endDate}</if>
	AND length(replied_file) >= 33
	ORDER BY SEND_DATE DESC
</select>

<!-- 지역선택된 데이터 조회 -->
<select id="selectLocalByRes" parameterType="Map" resultType="kr.sh86.myApp.survey.domain.Xroshot">
	SELECT send_date, phone_number, 
		nvl(substr(replied_file, 9,1),'') as ans1, 
		nvl(substr(replied_file, 15,1),'') as ans2,
		nvl(substr(replied_file, 21,1),'') as ans3,
		nvl(substr(replied_file, 27,1),'') as ans4,
		nvl(substr(replied_file, 33,1),'') as ans5
	FROM xroshot.sdk_vms_report_detail 
	WHERE send_date > #{sendDate}
	AND length(replied_file) >= #{localLen}
	ORDER BY SEND_DATE DESC
</select>

<!-- 자사 가정집 DB수정 -->
<update id="updateHomeDbByRes" parameterType="kr.sh86.myApp.survey.domain.Home35">
	UPDATE KIS_STAT.HOME_35
	SET t_sigungu = #{tSiGunGu},
		t_is = #{tIs}
		<if test="tDong != null and tDong !=''">,t_dong = #{tDong}</if>
	WHERE t_telno = #{tTelno}
</update>

<!-- **신용보증재단 만족도조사  시작-->

<!-- 1. 조사대상자수 -->
<select id="selSinboTotalCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate} 
	AND SB_TAKEDATE &lt;= #{endDate}
</select>

<!-- 2. 응답자수 -->
<select id="selSinboResCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate}  
	AND SB_TAKEDATE &lt;= #{endDate} 
	AND SB_RESCHECK = '응답'
</select>

<!-- 3. 부재 -->
<select id="selSinboBujeCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate} 
	AND SB_TAKEDATE &lt;= #{endDate} 
	AND SB_ARSRESULT LIKE '부재'||'%' 
	AND SB_REJECT = 0 
	AND SB_RESCHECK = '미응답'
</select>

<!-- 4. 추후응답 -->
<select id="selSinboAfterCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate} 
	AND SB_TAKEDATE &lt;= #{endDate} 
	AND SB_ARSRESULT = '추후응답'
	AND SB_RESCHECK = '미응답'
</select>

<!-- 5. 응답거부 -->
<select id="selSinboRejectCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate} 
	AND SB_TAKEDATE &lt;= #{endDate} 
	AND SB_REJECT = 1 
	AND SB_RESCHECK = '미응답' 
</select>

<!-- 6. 문자1,2차 -->
<select id="selSinboMmsCnt" parameterType="Map" resultType="int">
	SELECT COUNT(*) 
	FROM ADMIN.SINBO 
	WHERE SB_TAKEDATE &gt;= #{startDate} 
	AND SB_TAKEDATE &lt;= #{endDate}
	AND SB_RESCHECK= '미응답' 
	AND SB_ORDERCOUNT &lt;= 3 
	AND SB_REJECT = 0 
	AND SB_ARSRESULT IS NULL
</select>

<!-- 7.응답현황 조회 -->
<select id="selSinboResList" parameterType="Map" resultType="kr.sh86.myApp.survey.domain.ResData">
	SELECT a.survey_no, a.q1, a.q2, a.q3, a.q4, a.q5, a.q6, a.mem_id,
		b.sb_num, b.sb_rrn, b.sb_add, b.sb_branch, b.sb_josaja, b.sb_hp, b.sb_dateofest, b.sb_rescheck, b.sb_takedate, b.sb_upstream
	FROM KIS_2017.jjac_survey004 a, ADMIN.SINBO b
	WHERE a.MEM_ID = b.SB_NUM
	AND b.SB_TAKEDATE &gt;= #{startDate}
	AND b.SB_TAKEDATE &lt;= #{endDate}
</select>

</mapper>